header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    margin: 0px;
    padding: 5px 200px;
    font-size: 18px;
    color: #E5E7EB;
}

.box-1 {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    margin: 0px;
    padding: 50px 200px;

}

.left {
    width: 50%;
}


.left h2 {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
    color: #F9FAF8;
}

.left p {
    font-size: 18px;
    color: #E5E7EB;
}

.left button {
    background-color: #3882F6;
    font-size:18px;
    color:#E5E7EB;
    padding: 5px 20px;
    border-radius: 5px;
    border-style: none;
}

.right img {
    width: 460px;
    height: 200px;
}

.images {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.right {
    align-items: center;
    justify-content: center;
}

.box-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px 75px;
}

.box-2 h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.cards-box {
    display: flex;   
    gap: 50px;
}

.card {
    max-width: 150px;
}

.card img {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    border-width: 10px;
    border-color: #3882F6;
}

.box-3 {
    background-color: #E5E7EB;
    color:#1F2937;
    padding: 100px 300px;
}

.box-3 quote {
    font-size: 36px;
    font-style: italic;
    text-align: left;
    font-weight:100;
}

.box-3 p {
    text-align: right;
}



ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: roboto;
}