header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    margin: 0px;
    padding: 5px 200px;
    font-size: 18px;
    color: #E5E7EB;
}

.box-1 {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    margin: 0px;
    padding: 50px 200px;

}

.left {
    width: 50%;
}


.left h2 {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
    color: #F9FAF8;
}

.left p {
    font-size: 18px;
    color: #E5E7EB;
}

.left button {
    background-color: #3882F6;
    font-size:18px;
    color:#E5E7EB;
    padding: 5px 20px;
    border-radius: 5px;
    border-style: none;
}

.right img {
    width: 460px;
    height: 200px;
}



.right {
    align-items: center;
    justify-content: center;
}

.box-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 75px;
}

.box-2 img{
    height: 200px;
    width: 200px;
}



ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: roboto;
}